*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
      background: url(./img/signimg/bg1920.png);
      background-size: cover;
      background-repeat: no-repeat;
      img{
          width: 100%;
          height: 100vh;
        object-fit: cover;
      }
    }
    
   
    #stop{
        padding:0;
       
    }
   
    